.play-area-container
{
	height: 100%;
    max-height: 500px;
    width: 100%;
    overflow: auto;
	margin: 5px 0;
	padding: 0 10px;
}

.play-area-container ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.play-area-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.play-area-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.play-area-container .ant-list-item-meta-avatar .ant-avatar.ant-avatar-lg {
    width: 60px;
    height: 60px;
    line-height: 60px;
}