.action-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.action-button-container .ant-btn.ant-btn-primary{
    margin: 0 50px;
    width: 50px;
    height: 50px;
}