.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 450px;
  max-width: 600px;
  margin: 10px 15px;
  background-color: #fff;
  box-shadow: 5px 5px 2px -2px #a5a5a5;
  /* height: 600px;
  background: rgb(197, 122, 122);
  border-radius: 15px;
  box-shadow: 0px 0px 8px #ccc; */
}
